@media (max-width: 1399) { 
  
    .banner-section .banner-content h1 {
   
        font-size: 38px !important;

}
 }
 @media (max-width: 1199px) { 

    .banner-content h1 {
    
         font-size: 38px !important;
 
 }
 .heading h1 {
    font-size: 28px;
}
.who-we-are-section .introduce p {

    font-size: 10px;

 }

 .attorneys-section .heading h1 {
 
    font-size: 28px;
  
    margin-bottom: 8px;
 }
 .The-languages-section .Languages a {

    font-size: 12px;
 }
 .The-languages-section .Languages p {

    font-size: 11px;
 }
 .The-languages-section .Languages h1 {
    font-size: 18px;
 }
 .Contact-section .btn-custom {

    padding: 8px 44px;
 
    font-size: 12px;

 }
}
    @media (max-width: 991px){

        .banner-content h1 {
            font-size: 32px !important;
        }
        .heading h1 {
            font-size: 20px;
        }
        .who-we-are-section .introduce p {
            font-size: 8px;
        }
        .heading span {
            width: 40px;
            height: 3px;
            margin-bottom: 3px;
        }
        .attorneys-section .heading h1 {
            font-size: 20px;
        }
        .attorneys-section .heading a {
      
            font-size: 10px
        }
        .attorneys-section .heading p {
         
            font-size: 10px;
            margin-bottom: 15px;
        }
        .The-languages-section .Languages h1 {
            font-size: 15px;
       
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .The-languages-section .Languages p {
      
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 10px;
        }
        .The-languages-section .Languages a {
            font-size: 10px;
        }
}
@media (max-width: 767px) { 
    .banner-content h1 {
        font-size: 25px !important;
    }
    .heading h1 {
        font-size: 14px;
    }
    .who-we-are-section .introduce p {
        font-size: 5px;
    }
    .who-we-are-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading h1 {
        font-size: 10px;
    }
    .what-we-do-section .what-we-do a {

        bottom: 20px;
  
        font-size: 10px;
        left: 50%;
 }
 .what-we-do-section .what-we-do h4 {

    font-size: 11px;
  
}
.what-we-do-section {
    background-color: #f7f8f8;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.attorneys-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.attorneys-section .heading {
    padding-top:0; 
}
.The-languages-section .Languages h1 {
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 7px;
}
.The-languages-section .Languages p {
    font-size: 8px
}
.The-languages-section .Languages a {
    font-size: 7px;
}
.Contact-section {
    background-color: #28377e;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-section p {
    color: #616ca8;
    margin-top: 5px;
    font-size: 10px;
}
}

 @media (max-width: 575px) { 

}