@import "__reset";
@import "__mixin";
@import "__variable";
@import "__extend";


header{
    
    .navbar-nav .nav-link {
    font-size: 12px;
        color: $color !important;
        text-transform: uppercase;
        font-weight: bold;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    transform: scaleX(0);
    bottom: -5px;
    background-color: #f15b2a;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
 &:hover{
     color: #f15b2a;

 }
 &:hover::after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
 }

    }
}
.heading{
    color: $color !important;
    font-weight: bold;
    padding-left: 11px;
   
    h1{
        font-size: 36px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    span{
        width: 60px;
        height: 5px;
        background-color: #f15b29;
        display: block;
        margin-bottom: 5px;
      
    }




}



.banner-section{
    background-image: url(../Image/banner_blue.jpg);
    min-height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   .sub-bg {
    background-image: url(../Image/banner-orange.png);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
    height: 100%;
    position: absolute;
    }
.banner-content {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
   
        h1{
            color: #fff;
            font-weight: 700;
            font-size: 50px;
            text-transform: uppercase;
        }
    
 

}
.arrow{    position: absolute;
    bottom: 30px;
    left: 50%;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50%);
}
}


.who-we-are-section{
    padding-top: 100px;
    padding-bottom: 100px;
    .introduce{
        p{
            color:#b0b0b1;
            font-size: 14px;
            text-align: justify;
         
        }
    }
}



.what-we-do-section{
    background-color: #f7f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        background-image: url(../Image/whatwedo_bg.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        bottom: 0;
        right:-160px;
        background-position: right bottom;
        background-size: 62%;
    }
  .heading {

            margin-top: 5px;
        
        span{
            margin: 0 auto ;
        
             }
             
    } 

 .what-we-do{
     position: relative;
     margin-top: 70px;
     
     &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
       /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,1f4f87+53,1f4f87+100,1f4f87+100&0.7+0,0+1,0.7+52,0.7+52,0.7+53,0.7+54,0.7+100 */
background: -moz-linear-gradient(top,  rgba(30,87,153,0.7) 0%, rgba(30,87,153,0) 1%, rgba(31,79,135,0.7) 52%, rgba(31,79,135,0.7) 53%, rgba(31,79,135,0.7) 54%, rgba(31,79,135,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0.7) 0%,rgba(30,87,153,0) 1%,rgba(31,79,135,0.7) 52%,rgba(31,79,135,0.7) 53%,rgba(31,79,135,0.7) 54%,rgba(31,79,135,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,0.7) 0%,rgba(30,87,153,0) 1%,rgba(31,79,135,0.7) 52%,rgba(31,79,135,0.7) 53%,rgba(31,79,135,0.7) 54%,rgba(31,79,135,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31e5799', endColorstr='#b31f4f87',GradientType=0 ); /* IE6-9 */

     }
     img{}
     h4{
        position: absolute;
        top: 50%;
        color: #fff;
        font-size: 26px;
        left: 50%;
        transform: translate(-50%, -50%);

     }
     a{
        position: absolute;
        bottom: 30px;
        color: #fff;
        font-size: 26px;
        left: 50%;
        transform: translate(-50%);
     }
 }
    
}

.attorneys-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../Image/attornyes-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    .heading{
         
   padding-top: 50%;
        h1{
            color: #fff;
            font-weight: 700;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
 
        p{
            color:#b0b0b1;
            font-size: 14px;
           
            margin-bottom: 25px;
        }
        a{
            text-transform: uppercase;
            color: #f15b2a;
            font-size: 16px;
            font-weight: 700;
         
        }
    }
    .what-we-do{
        position: relative;
        margin-top: 70px;
        overflow: hidden;
        &:hover h3{
            bottom: 30px;
            opacity: 1;
        }
        h3{
            position: absolute;
            bottom: -0;
            color: #fff;
            font-size: 26px;
            left: 50%;
            opacity: 0;
            transform: translate(-50%);
            transition: all 0.4s ease;
       

        }
    
        img{}
    
       
    }
       
   
}

.The-languages-section
{
    padding-top: 100px;
    padding-bottom: 100px;

    .heading{
        text-transform: uppercase;
        margin-bottom: 30px;
        span{
            margin: 0 auto ;
        
             }
    }
    .Languages{

        h1{
            font-size: 24px;
            color: $color;
            font-weight: 700;
            letter-spacing: 2px;
            padding-top: 15px;
            padding-bottom: 15px;
     
        }
        p{
            color: #b0b0b1;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 15px;
        }
 
        a{
            text-transform: uppercase;
            color: #f15b2a;
            font-size: 16px;
            font-weight: 700;
           
         
        }

    }
 
}

.Contact-section{
    background-color: #28377e;
    padding-top: 100px;
    padding-bottom: 100px;
    .heading{
        span{
            margin: 0 auto;
        }
    }
    .form-group{}

    .form-control{
        background-color: transparent;
        border-bottom: 1px solid #4b6788 !important;
        border-radius: 0;
        border: 0;
        color: #fff !important;
        &:focus{
            background-color: transparent;
            outline: none;
            box-shadow: 0 0 0 0(0 123 255  0);

        }
    }
    .btn-custom{
        background-color: #f15b2a;
        padding: 10px 50px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        margin-top: 40px;
    
    }

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }


  .footer-section{
      background-color: #0c1234;
      padding-top: 60px;
      padding-bottom: 60px;
 
      p{
          color: #616ca8;
          margin-top: 5px;
      }

      .social-content{
       
          li{
              
            padding: 3px;
           a{
                width: 40px;
                height: 40px;
                display: block;
                color: #b1b7dd;
                font-size: 18px;
                text-decoration: none;
                text-align: center;
                line-height: 40px;

                &:hover{
                    color:#f15b2a;
                }
               
              }
          }
      }
    
  }